<form (ngSubmit)="onSubmit()">
  <h2 style="width: 100%;margin-bottom: 26px; margin-top: 0;margin-left: 32px;">Register worker</h2>

  <div style="margin-bottom: 32px; margin-top: 8px; width: 100%; display: flex; align-items: center; justify-content: center">
    <!--    <p>Role</p>-->
    <app-worker-role-selector [(workerRole)]="workerRole" [disabled]="!isFormEnabled"></app-worker-role-selector>
  </div>

  <div class="input-container">
    <input type="text" id="name" required [(ngModel)]="name" name="name" [disabled]="!isFormEnabled">
    <label for="name" class="label">Name</label>
    <div class="underline"></div>
  </div>
  <div class="input-container">
    <input type="text" id="surname" required [(ngModel)]="surname" name="surname" [disabled]="!isFormEnabled">
    <label for="surname" class="label">Surname</label>
    <div class="underline"></div>
  </div>
  <div class="input-container" style="width: 300px;">
    <input type="text" id="ssn" required [(ngModel)]="ssn" name="ssn" [disabled]="!isFormEnabled">
    <label for="ssn" class="label">SSN</label>
    <div class="underline"></div>
  </div>
  <div class="input-container" style="width: 300px;">
    <input type="text" id="email" required [(ngModel)]="email" name="email" [disabled]="!isFormEnabled">
    <label for="email" class="label">Email</label>
    <div class="underline"></div>
  </div>
  <div class="input-container" style="width: 300px;">
    <input type="text" id="birthdate" required placeholder="YYYY-MM-DD" [(ngModel)]="birthdate" name="birthdate" [disabled]="!isFormEnabled">
    <label for="birthdate" class="label">Birthdate</label>
    <div class="underline"></div>
  </div>

  <div [@toggleHeight]="workerRole == WorkerRole.Driver ? 'expanded' : 'collapsed'" id="driver_fields" style="flex: 0 0 100%;margin-left: 32px;">
    <div>
      <p>Driver licences</p>
      <app-worker-driving-licence-selector [(licencesSelected)]="genericLicencesSelectedList" [disabled]="!isFormEnabled"></app-worker-driving-licence-selector>
    </div>

    <div style="width: 300px;">
      <p>Driver specific licences</p>

      <div *ngFor="let specificLicence of specificLicenceSelectedList"
        style="
      margin-top: 4px;
              //background: #ccf1ff;
              //color: #224e5e;
              padding: 4px;
              padding-left: 8px;
              padding-right: 4px;
              border-radius: 4px;
              font-size: 12px;
              font-weight: 600;
              white-space: nowrap;

              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 10px;

              "
           class="tag">
        {{specificLicence.name}}
        <span (click)="removeSpecificLicence(specificLicence)" style="cursor:pointer;font-size: 20px;" class="material-symbols-outlined">
          close
        </span>
      </div>
    </div>

<!--
    <select id="input0" style="margin-top: 10px;
        width:310px; height: 35px;
        font-size: 16px;
        border: 1px solid gray;
        border-radius: 8px;
        padding-left: 10px;

  ">
      <option style="font-size: 40px;">Choose specific licence</option>
      <option style="font-size: 40px;">Autocarro</option>
      <option>Autopompa</option>
      <option>Gru</option>
    </select>
-->



    <div id="add-option-button" style="position: relative;width: 300px;">
      <!-- Div che funge da etichetta personalizzata -->
      <div style="margin-top: 10px;

            margin-top: 4px;

            //background: #ccf1ff;
            //color: #224e5e;
            padding: 4px;
            padding-left: 8px;
            padding-right: 4px;
            border-radius: 4px;
            font-size: 12px;
            font-weight: 600;
            white-space: nowrap;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;"
      class="tag">
        <span style="font-size: 20px;" class="material-symbols-outlined">
        add
      </span>
      </div>
      <!-- Select nascosto visivamente -->
      <select class="{{isFormEnabled ? ' enabled ' : ''}}" (change)="onSpecificLicenceSelected($event)" id="selectInput" style="position: absolute; top: 0; left: 0; opacity: 0; width: 100%; height: 100%;" [disabled]="!isFormEnabled">
        <!-- Opzioni del select -->
        <option value="" disabled selected [hidden]="machineryTypesWithSpecificLicence.length!=0">No licence available</option>
        <option *ngFor="let specificLicence of machineryTypesWithSpecificLicence" value="{{specificLicence.id}}">{{specificLicence.name}}</option>
      </select>
    </div>




  </div>

  <input class="{{isFormEnabled ? ' enabled ' : ''}}" [disabled]="!isFormEnabled" type="submit" value="Register" style="width: 100%; margin-top: 32px; margin-left: 32px; margin-right: 32px; height: 42px; background: #6c6c6c; color: #ffffff; border: 0; border-radius: 8px; box-shadow: 0 4px 1px rgba(0,0,0,0.8);">

</form>
